<template name="alarmLogListCom">

  <div class="wrapper wrapper-content">
    <div class="row">
      <div class="ibox">
        <div class="ibox-title">

          <a href="/alarmlog/add" class="btn btn-white">
              <i class="fa fa-plus-square"></i> {{_ 'Add'}}
          </a>

        
        </div>
        <div class="ibox-content">

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables" >
              <thead>
                <tr>
                  <th>{{_ 'Date'}}</th>
                  <th>{{_ 'Equipment'}}</th>
                  <th>{{_ 'Service'}}</th>
                  <th>{{_ 'DownTime'}}</th>
                  <th>{{_ 'Cause'}}</th>
                </tr>
              </thead>
              <tbody>

              {{#each getAlarmLog}}
                <tr>
                  <td>{{dateFormat date}}</td>
                  <td>{{equipment}}</td>
                  <td>{{_ service}}</td>
                  <td>{{downtime}}</td>
                  <td>{{cause}}</td>
                </tr>
              {{/each}}

              </tbody>
              <tfoot>
                <tr>
                  <th>{{_ 'Date'}}</th>
                  <th>{{_ 'Equipment'}}</th>
                  <th>{{_ 'Service'}}</th>
                  <th>{{_ 'DownTime'}}</th>
                  <th>{{_ 'Cause'}}</th>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>

</template>
